{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<h1>Register your account</h1>
<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" required autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" required id="password" name="password" placeholder="Password"
            type="password" pattern=".{8,}" title="Eight or more characters">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" required id="confirmation" name="confirmation" placeholder="Confirm your password"
            type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}