{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="symbol">
            <option selected disabled>Symbol</option>
            {% for stock in stocks %}
                <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" required autofocus class="form-control mx-auto w-auto" id="shares" name="shares"
            placeholder="Quantity of shares" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}