// UTILITIES

// // All/Universal elements resetter

%universal_reset {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// STYLE SETTINGS

// // Default button styling

%default_button {
  text-transform: uppercase;

  border-radius: 10rem;

  text-decoration: none;

  padding: 1.5rem 4rem;

  display: inline-block;

  transition: all 0.2s;

  position: relative;

  font-size: $default-font-size;

  // CHange for the <button> element
  border: none;
  cursor: pointer;
}

// // Add gradient bcg

%add_gradient_bcg {
  // // Add gradient
  background-image: linear-gradient(
    to right,
    $color-primary,
    $color-primary-dark
  );

  // Clip gradient to font | Set font fill color to transparent and
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

// GRID SETTINGS

// // Default column styling

%default_column {
  float: left;

  &:not(:last-child) {
    margin: 0 $gutter-horizontal 0 0;

    /* ==========================================================================
    Mixins
    ========================================================================== */

    /* Tablet Portrait
    ========================================================================== */

    @include respond(tab-port) {
      margin-right: 0;
      margin-bottom: $gutter-vertical-small;
    }
  }

  /* ==========================================================================
   Mixins
   ========================================================================== */

  /* Tablet Portrait
   ========================================================================== */

  @include respond(tab-port) {
    width: 100% !important;
  }
}
