// COLORS

// // Main Colors

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

// // Background colors

// // // About section
$color-bkg-about: #ededed;

// // Misc Colors

$color-white: #fff;
$color-black: #000;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-gray-light: #eee;

// // // Secondary Colors

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// // // Tertiary colors

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// GRID

// // Width values

$grid-width: 130rem;

// // Gutter values

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT

// // Font Sizes

// // // Default Font Size

$default-font-size: 1.8rem;
