// Use LoVe HAte principle when styling links

.btn {
    &:link, &:visited {
        border-radius: 10rem;
        display: inline-block;
        font-size: 1.6rem;
        padding: 1.5rem 4rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6); 
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem .1rem rgba($color-black, .2);
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    /* In order for a after pseudo element to appear on the page, one must specify
    a content and display property */
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        /*  This applies the styles specified on the 0% part of the animation from the go, makes it so the button
            appears at 0 opacity without it having to be specified on the class itself, but in the animation */
        animation-fill-mode: backwards;
    }
}