.composition {
  position: relative;

  &__photo {
    // We must ALWAYS define the width of an image in percentage, to make them responsive
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

    // Pixels here bcs this value will not change
    border-radius: 0px;

    position: absolute;

    // Set any z-index to be able to modify later !!!ANY VALUE!!!
    z-index: 10;

    transition: all 0.15s;

    // Make it so there is e space between the photo and the green box that appears on hover
    outline-offset: 2rem;

    &--p1 {
      // Setting left to zero makes it so the image will start moving from the left of the container
      left: 0;
      top: -4rem;
    }

    &--p2 {
      // Setting right to zero makes it so the image will start moving from the right of the container
      right: 0;
      top: 4rem;
    }

    &--p3 {
      // Setting left to zero makes it so the image will start moving from the left of the container

      left: 20%;
      top: 12rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;

      // Make green square around
      outline: 1.5rem solid $color-primary;

      // Make sure the non-hovered images shrink
    }
  }

  // Make sure the non-hovered images shrink
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
