// TODO
// BUG -> fix card tilting in smaller screens

.story {
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;

  // Tilt component
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(tab-phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;

    // Use the next property to make the text float around the shape | Defines where the content flows around the element
    // // Try turning off to see what happens
    // // Use circle value to make the text react to a circle shape
    // // // Shorthand: radius-of-the-circle, position-of-the-circle (We set it to the exact center in this case
    // // // THE "SHAPE OUTSIDE" PROPERTY MUST BE ON A ELEMENT THAT IS FLOATED AND HAVE HEIGHT/WIDTH VALUES DEFINED
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    // The best way to move aro und a floated object is with the transform property
    // Skew here so the img is not titled like its parent element
    transform: translateX(-3rem) skewX(12deg);

    @include respond(tab-phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    // This needs to be height otherwise the img will not occupy the entire circle
    height: 100%;
    position: relative;

    transform: translateX(-3.5rem) scale(1.2);

    // This is here to prevent bugs
    backface-visibility: hidden;

    // ANIMATION BELLOW
    transition: all 0.5s;
  }

  // &__text {
  // }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;

    // Necessary first state for caption animation on hover
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s;

    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;

    // This is here to prevent bugs
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    transform: translateX(-3.5rem) scale(1);

    // Implement a filter and reduce brightness
    filter: blur(3px) brightness(80%);
  }
}
