/* ==========================================================================
   CONTAINER - b
   ========================================================================== */

.container {
  /* Display & Box Model */
  max-width: 120rem;
  min-height: 50rem;

  /* Positioning */
  margin: 8rem auto;

  /* Other */
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
}

/* ==========================================================================
   CONTAINER - e
   ========================================================================== */

/* ==========================================================================
   HEADER - b
   ========================================================================== */

.header {
  /* Display & Box Model */
  display: flex;
  height: 7rem;

  /* Positioning */
  align-items: center;
  justify-content: space-between;

  /* Other */
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  font-size: 1.4rem;
}

/* ==========================================================================
   HEADER - e
   ========================================================================== */

/* ==========================================================================
   CONTENT - b
   ========================================================================== */

.content {
  /* Display & Box Model */
  display: flex;
}

/* ==========================================================================
   CONTENT - e
   ========================================================================== */

/* ==========================================================================
   SIDEBAR - b
   ========================================================================== */

.sidebar {
  /* Display & Box Model */
  display: flex;
  flex-basis: 18%;
  flex-grow: 0; // Element will not grow
  flex-shrink: 0; // Element will not shrink

  /* Positioning */
  flex-direction: column;
  justify-content: space-between;

  /* Other */
  background-color: var(--color-grey-dark-1);
}

/* ==========================================================================
   SIDEBAR - e
   ========================================================================== */

/* ==========================================================================
   HOTEL VIEW - b
   ========================================================================== */

.hotel-view {
  /* Display & Box Model */
  flex-grow: 1;
  height: 80rem;

  /* Other */
}

/* ==========================================================================
   HOTEL VIEW - e
   ========================================================================== */
